body {
    font-family: Inria serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;         
    padding: 0 20px;
    position: relative;
}


header {
    position: relative;
    height: auto;
    padding: 5px 20px;
    background-color: #BCD5F3;      
    display: flex;               
    justify-content: flex-end;   
    align-items: center;         
    box-sizing: border-box;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: 999;
}

.logo {
    position: static;            
    margin: 0;
    background-color: transparent;
}

.logo img {
    display: block;
    height: 70px;                
    width: auto;
    font-size: 24px;
    font-weight: bold;
    color: #444;
    font-family: 'Roboto', sans-serif; 
}

main {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    font-weight: normal;
    
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    color: #000;
}

h2 {
    font-size: 1.6em;
     
}
.titulocrip {
    
    text-align: right;
    margin-right: 80px; 
}
p {
    margin-bottom: 15px;
    text-align: justify;
}

ol {
    list-style-type: disc;
    margin: 0 0 15px 20px;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

.main-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

hr {
    border: 1;
    height: 1px;
    background: #000000;
    margin: 40px 0;
}

footer {
    margin-top: 40px;
}

footer p {
    font-weight: bold;
}

footer a {
    display: block;
    margin-bottom: 10px;
    color: #000000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.cripto {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.cripto .main-image {
    width: 400px;   
    height: 400px;
    margin-bottom: 0;
}

.cripto p {
    flex: 1;
    margin-bottom: 0;
    text-align: justify;
}